test --test_output=errors

# TODO @aignas 2024-06-29: check if not having this will break anything
build --incompatible_default_to_explicit_init_py

build --nolegacy_external_runfiles

common --lockfile_mode=update
common:ci --lockfile_mode=error

# Additional config to use for readthedocs builds.
# See .readthedocs.yml for additional flags that can only be determined from
# the runtime environment.
build:rtd --stamp
